.buttons-container {
	width: 100%;
	margin: 50px 0px;
	
}
.balls-button-container {
	display: flex;
	justify-content: center;
}

.games-button-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

button {
	margin: 7px;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 0 5px 15px 0px #000000cc;
	border: solid 1px black;
	text-align: center;
}

button:hover {
	cursor: pointer;
	box-shadow: 0 5px 15px 0px #0afc02;
}

.red-button {
	background-color: red;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	
}

.yellow-button {
	background-color: #fbce02;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	
}

.green-button {
	background-color: rgb(0, 90, 0);
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	
}

.brown-button {
	background-color: #832121;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	
}

.blue-button {
	background-color: #3131ff;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	
}

.pink-button {
	background-color: #ff6a82;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
}
.black-button {
	background-color: black;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: solid 1px #aaaaaa;
	text-align: center;
	
}

.foul-button {
	background-color: whitesmoke;
	color: black;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	
}

.game-button {
	margin: 15px;
	padding: 15px 20px;
	border-radius: 8px;
	border: solid 1px white;
	background-color: #00adad;
	color: white;
	font-size: 20px;
	text-align: center;
}

.game-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;

}

.alert {
	font-family: 'ABeeZee', sans-serif;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 950px) {
    button {
		font-size: 16px;
	}
	.red-button {
		height: 80px;
		width: 80px;	
	}
	
	.yellow-button {
		height: 80px;
		width: 80px;
	}
	
	.green-button {
		height: 80px;
		width: 80px;	
	}
	
	.brown-button {
		height: 80px;
		width: 80px;
	}
	
	.blue-button {
		height: 80px;
		width: 80px;
	}
	
	.pink-button {
		height: 80px;
		width: 80px;
	}
	.black-button {
		height: 80px;
		width: 80px;
	}
	
	.foul-button {
		height: 80px;
		width: 80px;
	}
}

@media screen and (max-width: 800px) {
    .balls-button-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 0;
		justify-items: center;
		margin: 0px 80px;
	}
}

@media screen and (max-width: 640px) {
    .games-button-container {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 20px;
		justify-items: center;
	}
	.game-button {
		margin: 10px;
		width: 200px;
		padding: 10px 15px;
		border-radius: 8px;
		font-size: 18px;
		
	
	}
}

@media screen and (max-width: 420px) {
    button {
		font-size: 13px;
		margin: 4px;
	}
	.red-button {
		height: 70px;
		width: 70px;	
	}
	
	.yellow-button {
		height: 70px;
		width: 70px;	
	}
	
	.green-button {
		height: 70px;
		width: 70px;		
	}
	
	.brown-button {
		height: 70px;
		width: 70px;	
	}
	
	.blue-button {
		height: 70px;
		width: 70px;	
	}
	
	.pink-button {
		height: 70px;
		width: 70px;	
	}
	.black-button {
		height: 70px;
		width: 70px;	
	}
	
	.foul-button {
		height: 70px;
		width: 70px;	
	}
	.game-button {
		margin: 10px;
		width: 175px;
		padding: 10px 15px;
		border-radius: 8px;
		font-size: 14px;
		
	
	}
}



