.form-container {
	background-color: palegreen;
	/* width: 200px; */
	padding: 20px;
	margin: 0;
	display: flex;
	justify-content: center;
	height: 76vh;
	width: 100%;
	font-size: 26px;
}

input {
	margin: 10px;
	font-size: 22px;
}
select {
	margin: 10px;
	font-size: 22px;
}
