@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Orbitron:wght@400;700&display=swap');

.App {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./assets/snookerhero.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
  background-size: cover;
}














/* .App-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: teal;
  color: white;
  font-size: 25px;
  font-family: fantasy;
  padding: 25px;
}

.player-names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.App-header h1 {
  text-align: left;
  padding: 0;
  margin: 0;
}

.App-header img {
  height: 70px;
} */





